.Nav {
    width: 100%;
    height: 8vh;
    background-color: #222;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    position: fixed;
    top: 0; /* Stay at the top */
    left: 0;
    font-size: 25px;
    z-index: 2;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #222; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family: Poppins;
    display: grid;
    grid-template-rows: 8% 25% 1fr;

    h1 {
        font-size: 22px;
        color: whitesmoke;
        padding-left: 10px;
        padding-bottom: 8px;
    }  

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;
        line-height: 1.3;

        &:hover {
            color: rgb(150, 7, 7);
            font-weight: bold;
            font-size: 110%;
        }

      }
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }