.searchbar {
    font-size: 12px;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
    background-color: rgb(194, 194, 194);
}

.logo {
    &:hover {
        cursor: pointer;
    }
}

.search {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 30px;
    color: white;
}

.posters {
    padding: 10px;
}



.main {
    margin-left: 20vw; /* Same as the width of the sidebar */
    margin-top: 12vh;
    padding: 10px 10px;
    font-family: Poppins;
    background-color: #333; 

        .container-fluid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 15px;
            padding-top: 15px;
        }

        .grid-item {
            padding-bottom: 20px;
            img {
                border-radius: 10%;
                cursor: pointer;
            }

            h3 {
                font-size: 18px;
            }

            .btn-sm {
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .searchbar {
            width: 100%;
            padding: 10px;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;

            
        }
        .butt1 {
            padding-top: 15px;
            padding-right: 25px;

            &:hover {
                cursor: pointer;
                color: #eee;
            }
           
        }

        .butt2 {
            padding-top: 15px;
            
            &:hover {
                cursor: pointer;
            }
        }
  }

